body {
  margin: 0;
  padding: 0;
  font-family: 'Bodoni Moda', serif; /* Added serif for fallback */
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ececec;
}

/* Use a unique and descriptive class name */
.bodoni-moda-title {
  font-family: 'Bodoni Moda', serif; /* Added serif for fallback */
  font-weight: 500; /* Changed to 700 for bold */
  font-style: normal;
  font-size: 100px; /* Set the desired font size */
  /* Consider removing !important unless absolutely necessary */
}

/* images */
.coverimage-container {
  display: flex;
  align-items: top;
}

.coverimage {
  width: 600px;
  height: auto;
  margin-right: 50px;
  margin-left: 30px;
}
